.container {
  width: 90%;
}

.back-btn {
  margin: 0 5px;
  border-color: blue;
  background-color: blue;

  &:hover {
    background-color: blue;
    border-color: blue;
  }
}

.alert-box {
  margin: 20px auto;
  background: #eee;

  &__text {
    padding: 8px 0;
  }
}


// 시작 적용, -enter, -enter-active
.tab-enter {
  opacity: 0;
}

.tab-enter-active {
  opacity: 1;
  transition: all 500ms;
}