.App {
  text-align: center;
}

.main-copy {
  background-image: url('images/main.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 80%;
  border-radius: 0;
  color: #fff;
}

.item-wrp .product-pic {
  width: 100%;
  margin-bottom: 10px;
}

.product-title,
.product-price {
  display: block;
}

.product-content {
  font-size: 12px;
}

.product-detail .title,
.product-detail .price {
  display: block;
}

.product-detail .content {
  margin-bottom: 0;
}